*.sh text eol=lf
/compose/mongo-compose/input/* text eol=lf
/compose/mongo-compose/scripts/* text eol=lf
/compose/mongo-compose/source.json text eol=lf
/compose/mongo-compose/meta.json text eol=lf
/compose/mongo-compose/output/** text eol=lf
