[Unit]
Description=Hello Docker Podman HTTP example (Linux amd64)

[Container]
Image=python:3.12-slim@sha256:2c941e860699f878900b0edc2403613c234d4b32eda3cc9fa7036991a2a63c4a
Exec=python -m http.server 8080
PublishPort=127.0.0.1:18080:8080

[Service]
TimeoutStartSec=180

[Install]
WantedBy=default.target
